*.key
*.pem
*.crt
xl*
*/.minio.sys/
.minio.sys/

*.db
*.text
*.card
*.file
*.txt
localS3/

vaultage/vault/
vault/backend/

S3Bucks/
MinIO/S3Bucks/
certs/

variables.tf
terraform/
.terraform/*
.terraform*
*.zip
*.exe
=======
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.txt
t*.bat

dbaser/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/client/main
cmd/client/client
cmd/server/main
cmd/server/server

# Dependency directories (remove the comment below to include it)
vendor/


